{#список опросов#}
{% extends 'main/base.html' %}

{% block content %}

<div class="container">
    <div class="row center">
        <div class="col-md-6 offset-md-3">
<h1>Hello, {{ client_id }}!</h1>


    <div style="display: none" id="template1">
    <a href="#" class="templ_href">
        <span class="templ_title"></span>
        <span class="templ_descr"></span>
        </a>
    </div>

    <div id="result"></div>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

client_id read or create id from coockie

$.getJSON poll
select poll and get all question
/ all not complete poll
/my answers all not complete
/p1 seelct poll and show question
/p1/a1/ select questen and write client answer

layout
index poll
poll selected select opoll and his questions
question selected and his possible answers radio/checkbox/textarea

<form>
{ %  if type_question == 1 % }
{ % for k, v in possible_answers % }
<input name=my_current_answer value="{{ v }}" type radio> {{ k}} }}</input
{ %  else if 2 % }
<input name=my_current_answer value="{{ v }}" type checkbox> {{ k}} }}</input

$.post(/answerts {
client_id
question_id
my_current_answer
}
-->
{% endblock %}

{% block custom_js %}
<script type="application/javascript">
        var client_id = '{{ client_id }}';
        var main_templ = $('#template1');
        var result = $('#result');
    {#console.log(client_id);#}

        $.getJSON('/poll',
            function (response){
                response.results.forEach(function(x, i){
                    var tmp = $(main_templ).clone();
                    $(tmp).find('.templ_title').html(x.title);
                    $(tmp).find('.templ_descr').html(x.description);
                    $(tmp).find('.templ_href').attr('href', '/selected_polls/'+x.id);
                    $(result).append(tmp);
                    $(tmp).show();
                })
            },
            function(error) {
                console.log('error', error)
            }
        );



    </script>
{%  endblock %}
