<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
          <p>Please select your preferred contact method:</p>
          <div>
            <input type="radio" id="contactChoice1"
             name="contact" value="email">
            <label for="contactChoice1">Email</label>

            <input type="radio" id="contactChoice2"
             name="contact" value="phone">
            <label for="contactChoice2">Phone</label>

            <input type="radio" id="contactChoice3"
             name="contact" value="mail">
            <label for="contactChoice3">Mail</label>
          </div>
          <div>
            <button type="submit">Submit</button>
          </div>
    </form>

<p>Choose your monster's features:</p>

<div>
  <input type="checkbox" id="scales" name="scales"
         checked>
  <label for="scales">Scales</label>
</div>

<div>
  <input type="checkbox" id="horns" name="horns">
  <label for="horns">Horns</label>
</div>

<label for="story">Tell us your story:</label>

<textarea id="story" name="story"
          rows="5" cols="33">
It was a dark and stormy night...
</textarea>


</body>
</html>